.paying{

}

.button_pay{
    border: none;
    color:black;
    background-color: green;
}

.continue_shopping{
    color:gray;
    font-size: 20px;
    margin:20px 0px;
}
.continue_shopping:hover{
    text-decoration: none;
    color:gray;
}

.dpqt{
    font-size: 18px;
    margin:10px 0px;
}


@media (max-width: 768px) { 
    .markup{
        display:none;
    }
}

hr{
    color:black;
    opacity:1;
}

@media (max-width: 768px) { 
    .print_item_col_or_row{
        display: flex;
        flex-direction: column;
    }
}
